.ceil {
	border: 1px slategray solid;
	display: inline-block;
	/*padding-bottom:5%;
	padding-left:5%;*/
	width:5vw;
	height:5vw;
}

.row-wrapper {
	display: block;
}

.board {
	margin: auto;
	width: fit-content;
	padding-top: 5%;
}

html, body, main {
	height: 100%;
}