.ceil {
	border: 1px slategray solid;
	display: inline-block;
	width:5vw;
	height:5vw;
}

.row-wrapper {
	display: block;
}

.board {
	margin: auto;
	width: fit-content;
	padding-top: 5%;
}

.reset, .result  {
	width:5vw;
	text-align: center;
	padding: 10px 20px;
	margin: 5px auto;
}

.reset {
	border: 1px gray solid;
	cursor: pointer;
}

html, body, main {
	height: 100%;
}