.ceil {
	border: 1px slategray solid;
	display: inline-block;
	width:5vw;
	height:5vw;
	background-size: contain;
}

.row-wrapper {
	display: block;
}

.board {
	margin: auto;
	width: fit-content;
	padding-top: 5%;
}

.reset, .result  {
	width:5vw;
	text-align: center;
	padding: 10px 20px;
	margin: 5px auto;
}

.reset {
	border: 1px gray solid;
	border-radius: 5px;
	cursor: pointer;
}

html, body, main {
	height: 100%;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("https://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.main, .reset {
	display: none
}